.input {
  position: relative;

  &__label {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    transition: transform $transition-duration ease-in-out,
      font-size $transition-duration ease-in-out,
      color $transition-duration ease-in-out;
  }

  &__field {
    display: block;
    width: 100%;
    padding: 0.5rem;
    padding-top: 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: whitesmoke;

    &:focus,
    &:active {
      outline: 2px solid $primary-color;
    }
  }

  &__field:focus ~ &__label,
  &__field:active ~ &__label {
    color: $primary-color-600;
    // top: 0;
    transform: translateY(-120%);
    font-size: 0.75rem;
  }
}
