.button {
  border-radius: $button-border-radius;
  background-color: $surface-white-color;

  padding: 0.5rem;
  border: none;

  color: $text-primary-color;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;

  &:hover {
    background-color: $surface-gray-color;
    cursor: pointer;
  }
}
