.message-bubble {
  max-width: 500px;
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
  border-top-left-radius: 0;
  background-color: $surface-white-color;

  &--sent {
    color: $surface-white-color;
    background-color: lightblue;
    background: $primary-color-600;
    border-top-left-radius: 1rem;
    border-top-right-radius: 0;
    align-self: flex-end;
  }
}
