@import "ChatListItem";

.chat-list {
  $self: &;

  background-color: white;
  z-index: 100;
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;

  &__header {
    padding: 1rem;
  }

  &__body {
    #{$self}-item ~ #{$self}-item {
      border-top: 1px solid lightgray;
    }
  }
}
