$primary-color-200: #d2f0ff;
$primary-color: #70d1ff;
$primary-color-600: #3dc1ff;
$primary-color-700: #0ab1ff;

$secondary-color-200: #ffd2f0;
$secondary-color: #ff70d1;
$secondary-color-600: #ff3dc1;
$secondary-color-700: #ff0ab1;

$triadic-color-200: #f0ffd2;
$triadic-color: #d1ff70;
$triadic-color-600: #c1ff3d;
$triadic-color-700: #b1ff0a;

$text-primary-color: #191919;
$text-secondary-color: #5b6666;
$text-dark-accent-color: #0c0c0c;
$text-light-color: #ffffff;

$surface-white-color: #ffffff;
$surface-gray-color: #f6f6f6;
$surface-dark-color: #191919;

// FIXME: Which red is correct?
// $red: #ff5943;
$red: #ff3d2e;

$box-shadow-color: #{rgba($text-primary-color, 0.04)};
