$primary-color: #4aa0f7;
$primary-color-600: #1986f5;
$primary-color-700: #096dd2;

$secondary-color: #f74aa0;
$secondary-color-600: #f51986;
$secondary-color-700: #d2096d;

$triadic-color: #a0f74a;
$triadic-color-600: #86f519;
$triadic-color-700: #6dd209;

$text-primary-color: #191919;
$text-secondary-color: #5b6666;
$text-dark-accent-color: #0c0c0c;
$text-light-color: #ffffff;

$surface-white-color: #ffffff;
$surface-gray-color: #f6f6f6;
$surface-dark-color: #191919;

// FIXME: Which red is correct?
// $red: #ff5943;
$red: #ff3d2e;

$box-shadow-color: #{rgba($text-primary-color, 0.04)};
