.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  padding: 3rem;
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  gap: 24px;

  &__header {
    text-align: center;
    line-height: 8px;
  }

  &__footer {
    text-align: center;
  }

  &__error {
    color: red;
    font-size: 14px;
    line-height: 0;
    text-align: center;
  }
}
