.icon-button {
  padding: 0;
  width: fit-content;
  background-color: transparent;
  border: none;
  padding: 10px;
  border-radius: 50%;

  @include flex-center();

  svg {
    fill: gray;
    height: 1.5rem;
    width: 1.5rem;
  }

  &:hover {
    background-color: $surface-gray-color;
    cursor: pointer;
  }
}
